$salmon: #F06560;
$red: #BB4D49;
$steel: #4C6268;
$blue: #83A9AE;
$cantaloupe: #C9CEAD;
$white-fade: linear-gradient( 0deg, white, white 10%, transparent);

$primary-color: $steel;
$secondary-color: $red;
$tertiary-color: $cantaloupe;
