@font-face {
  font-family: 'lavandaria';
  src: url(../fonts/lavanderia-sturdy.otf);

  font-weight: 800;
}

h3 {
  font-family: 'lavandaria';
  font-size: 2em;

}

.page-footer {
  letter-spacing: .75em;
  font-weight: 100;
}
